# Ignore all .mp3 files
*.mp3
!Cinematic-volume-control.mp3
!Environmental-challenges.mp3
!Outlandish-ideas.mp3
!Techno-fantasy.mp3
!general-semantics/hayakawas-ladder.mp3

# Ignore all .m4a files
*.m4a

# Ignore other specific file types
*.json
*.srt
*.tsv
*.vtt
!structure.json
